<app-navbar></app-navbar>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="user">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" formControlName="email" class="form-control" id="email">
                                        <div *ngIf="email?.touched && email?.invalid" class="text-danger">
                                            <small *ngIf="email?.errors?.required">Email is required <br></small>
                                            <small *ngIf="email?.errors?.email">Invalid Email</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" formControlName="password" class="form-control"
                                            id="password">
                                        <div *ngIf="password?.touched && password?.invalid" class="text-danger">
                                            <small *ngIf="password?.errors?.required">Password is required <br></small>
                                            <small *ngIf="password?.errors?.minlength">Min 8 Caracters</small>
                                        </div>
                                    </div>
                                    <button type="submit" [disabled]="loginForm.invalid"
                                        [ngClass]="{'btn-secondary':loginForm.invalid,'btn-primary':loginForm.valid}"
                                        class="btn">Submit</button>

                                </form>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="" routerLink="/register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<app-footer></app-footer>